
<div class="container" id="main">

        <div class="jumbotron text-center">
            <h1>Devour Your Burger</h1>
        </div>


	<div class="row">
		<div class="" id="top-bar">
			<h3>Let's Have Some Burgers</h3>
		</div>
		<div  class="taskOne" id="sidebar">
			<div class="row">
				{{#each burger_data}}
					{{#unless this.devoured}}
				
				<div class="col-sm-6 text-center">
					<pre>{{this.id}}. {{this.burger_name}}</pre>					
				</div>
				
				<div class="col-sm-6 text-center">
					<form method="POST" action="/burgers/update?_method=PUT" class="button-size">
						<input type="hidden" name="burger_id" type="text" value={{this.id}}>
						<br>
						<button type="submit" class="btnDevour">DEVOUR THE BURGER!</button>
					</form>
				</div>
				{{/unless}}
				{{/each}}
			</div>
		</div>
		<div class="taskTwo" id="page-wrap">
			{{#each burger_data}}
				{{#if this.devoured}}
					<input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
				{{/if}}
			{{/each}}
		</div>
	</div>
</div>

<div class="container" id="input">
	<div class="row">
		<div class="">
			<form action="/burgers/create" method="POST">
				<input type="text" name="burger_name" class="form-control" value="" id="enter_text">
				<button type="submit" class="btnCreate" id="text-enter-button">Eat This One</button>
			</form>
			<p id="enter_burger">Enter Your Favorite Burger.</p>
		</div>
	</div>
</div>